body {
  font-family: var(--poppinsFont);
}
/* .container {
  max-width: 960px;
} */

.m01 {
  margin-bottom: -6px;
}

.block-text {
  i {
    color: $yellow;
  }
}

.itemEquipo {
  p {
    &:first-child {
      max-width: 250px;
    }
    span {
      font-size: 1.5rem;
    }
  }
}

.block-fluid-img {
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.block-bg-img {
  /* margin-top: var(--margin-top); */
  /* background-repeat: no-repeat;
  background-attachment: unset;
  background-position: 50%;
  background-size: cover;
  transition: background-color 0.15s linear;
  min-height: var(--heightDefault);
  display: block;
  position: relative; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image1 {
  background-image: url("../images/bg4.jpg");
}

.image2 {
  background-image: url("../images/bg1.jpg");
}

.image3 {
  background-image: url("../images/bg3.jpg");
}

.bg-secundary {
  background-color: var(--secundaryColor);
}

section,
.mh-custom {
  min-height: var(--heightDefault);
}

.titulo {
  min-height: 350px;
  p {
    font-weight: bold;
    span {
      background: rgba($yellow, 0.5);
      padding: 1rem;
    }
  }
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home{
  .card {
    border-color: transparent;
    &-title {
      margin: 0 auto 1.5rem auto;
      width: 200px;
      font-weight: bold;
    }
    &-text{
      text-align: center;
    }
  }
}

footer {
  background-color: var(--secundaryColor);
  color: white;
}

figure {
  overflow: hidden;
  border-radius: 0.5rem;
}

.crt-widget .crt-grid-post .crt-post-hover {
  background-color: white !important;
}

.invalidForm {
  color: #dc3545;
}

#formMessage {
  .form-control {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
  }
}

.rmh {
  min-height: initial;
}

#sliderDeskop {
  .carousel {
    &-caption {
      text-align: right;
      right: 1%;
      z-index: 100;
    }
  }
}
#sliderMobile {
  .carousel {
    &-caption {
      position: initial;
    }
  }
}

.servicios {
  .card {
    min-height: 340px;
    &-title{
      text-align: center;
    }
  }
  .list-group {
    @include media-breakpoint-up(lg) {
      flex-direction: initial;
      justify-content: center;
    }
    &-item {
      border: 0px;
      padding: 1.25rem 1.5rem 1.5rem;
      position: relative;
      text-align: center;
      line-height: 1;
      border-radius: 30px;
      overflow: hidden;
      border: 3px solid transparent;
      @include media-breakpoint-up(xl) {
        width: 20%;
        &:nth-of-type(2) {
          margin: 0 1.5rem;
        }
      }
      &.active {
        color: $light;
        background-color: $yellow;
        font-weight: bold;
        border-color: shade-color($yellow, 10%);
        box-shadow: 0 9px 13px -6px $yellow;
        transition: all ease-in 0.2s;
        border-color: $yellow;
        &:hover {
          background-color: shade-color($yellow, 10%);
          box-shadow: 0 0 13px -6px $yellow;
          border-color: shade-color($yellow, 10%);
        }
      }
      &:hover {
        border-color: $yellow;
      }
    }
  }

  .tab-pane {
    h5 {
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 40px;
        top: 21px;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: $yellow;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
    }
  }

  table {
    box-shadow: $box-shadow;
  }

  .accordion {
    ul {
      margin: 0;
      & > li {
        padding-left: 0.8rem;
        &::marker {
          content: "✔";
          color: $yellow;
        }
      }
    }
    &-item {
      background-color: transparent;
      margin-bottom: 1rem;
    }
    &-header {
      border-bottom: 2px solid $yellow;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: $box-shadow;
    }
    i {
      margin-right: 10px;
      font-size: 1.5rem;
      color: var(--secundaryColor);
    }
  }

  .bg-warning {
    .accordion {
      li::marker {
        color: white;
      }
      &-header {
        border-bottom-color: var(--secundaryColor);
      }
      &-button:not(.collapsed) {
        color: white;
        background-color: var(--secundaryColor);
        i {
          color: white;
        }
        &::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffcf00'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }
      }
    }
    h5::before {
      border-bottom-color: var(--secundaryColor);
      z-index: 0;
    }
  }

  .columnas{
    .card{
      transition: all ease-in-out 0.2s;
      &:hover{
        box-shadow: $box-shadow;
        transform: translateY(-5px);
      }
    }
    &-title{
      text-align: initial;
    }
    .card-body p{
      font-size: 0.8rem;
    }
    .link-dark{
      float: right;
      transition: all ease-in-out 0.2s;
      &:hover{
        transform: translateX(5px);
      }
    }
  }
}

.sticky-shadow {
  z-index: 98;
  position: relative;
  pointer-events: none;
  height: 40px;
  margin: -40px auto 2rem;
  box-shadow: 0 10px 20px -16px rgba(0, 0, 0, 0.4);
}

.clientes {
  /* background-color: $gray-400; */
  .list-inline {
    &-item {
      position: relative;
      max-width: 250px;
      transition: all ease-in 0.2s;
      margin-bottom: 2.5rem;
      img {
        margin-bottom: 0.5rem;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 0rem;
        filter: grayscale(1);
        opacity: 0.5;
        &:hover {
          filter: grayscale(0);
          opacity: 1;
          transform: scale(1.15);
          .overlay {
            display: block;
          }
        }
        &:nth-of-type(2) {
          margin: 0 2.5rem;
        }
      }
      .overlay {
        line-height: 1.1;
        font-style: italic;
        @include media-breakpoint-up(lg) {
          display: none;
          position: absolute;
        }
      }
    }
  }
}
