.node{
    &-title h2{
        display: inline-block;
        background: orange;
        box-shadow: 17px 0 0 0 orange, -17px 0 0 0 orange;
        color: white;
        line-height: 1.5;
        padding: 4px 0 9px;
        font-weight: bold;
    }
    &-date{
        font-size: 0.8rem;
        color: #666;
    }
    &-author{
        text-align: right;
    }
}