:root {
  --primaryColor: #ffcf00;
  --secundaryColor: #222d2d;
  --heightDefault: 950px;
  --poppinsFont: 'Poppins', sans-serif;
  --margin: 2rem;
}

$box-shadow: 0 13px 16px -20px black;

.text-secondary-p{
  color: var(--secundaryColor)
}