@charset "UTF-8";
/**************************/
/***    Variables      ***/
/************************/
/**************************/
/***     General       ***/
/************************/
html {
  font-size: 13px; }

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  background-color: #eee;
  height: auto;
  min-height: 100%;
  line-height: 1.42857143; }

.wrapper {
  min-height: 100%;
  padding-top: 48px; }

.content {
  position: relative;
  left: 0;
  min-height: 100%; }

.content .main-content {
  padding: 25px; }

.card {
  border-width: 0;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 25px; }
  .card-header {
    font-size: 18px;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5384rem;
    margin: 0 1.538rem;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    background-color: transparent; }

.page-title {
  font-size: 1.462rem;
  line-height: 60px;
  float: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 20px; }

.mt-8, .my-8 {
  margin-top: 3.851rem !important; }

.btn-primary {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4; }
  .btn-primary:hover {
    color: #fff;
    -webkit-box-shadow: inset 0 -1px 0 #1266f1;
    box-shadow: inset 0 -1px 0 #1266f1;
    background-color: #4c8bf5;
    border-color: #4c8bf5;
    border-bottom-color: #1266f1; }

.btn-light, .btn-secondary {
  color: #404040;
  background-color: #fff;
  border-color: #dbdbdb; }

.btn-light.hover, .btn-light:hover,
.btn-secondary.hover, .btn-secondary:hover {
  color: #404040;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-color: #bababa; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #272727;
  background-color: #e3e3e3;
  border-color: #bababa;
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.06); }

.btn-secondary:focus,
.btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

a.dropdown-item {
  cursor: pointer; }

.dropdown-item.active, .dropdown-item:active {
  background-color: #f8f9fa; }

.card-border-color {
  border-top: 3px solid #c9c9c9; }

.card-border-color-primary {
  border-top-color: #4285f4; }

/**************************/
/***     Navbar       ***/
/************************/
#cMenu > i {
  padding: 10px;
  border: 1px solid white;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }

#cMenu.cI > i::before {
  content: ""; }

.navbar {
  /* background: url("../../../images/header.jpg"); */
  background-size: cover;
  background-position: center 371px;
  height: 50px; }

.navbar-left {
  display: none; }

.navbar-left .navbar-brand {
  line-height: 60px;
  height: 48px;
  width: 90px;
  background-image: url("../../../images/logo.webp");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding: 0 20px;
  margin: 0;
  display: none;
  background-size: contain; }

.navbar-right {
  padding-right: 20px;
  width: 100%; }

.user-menu > li.dropdown > a {
  padding-left: 5px;
  padding-right: 5px; }

.user-menu > li.dropdown > a img {
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%; }

.user-menu > li.dropdown .dropdown-menu {
  border-radius: 3px;
  margin-top: 28px;
  line-height: 20px; }

.user-menu .dropdown-menu {
  width: 220px;
  padding: 0 0 7px;
  left: -178px; }

.user-menu > li.dropdown .dropdown-menu .user-info {
  background-color: #4285f4;
  color: #fff;
  overflow: hidden;
  padding: 20px 15px 14px;
  border-radius: 2px 2px 0 0;
  margin-bottom: 7px; }

.user-menu > li.dropdown .dropdown-menu:before {
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -8px;
  content: "";
  display: inline-block;
  left: 42px;
  margin-left: -6px;
  position: absolute; }

.user-menu > li.dropdown .dropdown-menu:before {
  left: auto;
  right: 13px;
  border-bottom-color: #4285f4; }

.dropdown-toggle::after {
  display: none; }

/**************************/
/***     Sidebar       ***/
/************************/
.sidebar-left {
  height: 100%;
  margin-top: 61px;
  padding-bottom: 61px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1029;
  background-color: #f5f5f5;
  width: 230px;
  left: -230px;
  border-right: 1px solid #e3e3e3;
  -webkit-transition: all .6s;
  transition: all .6s; }

.sidebar-left .sidebar-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  -ms-touch-action: auto;
      touch-action: auto;
  overflow: hidden !important;
  overflow-anchor: none; }

.sidebar-left .sidebar-wrapper ul {
  padding: 0; }

.sidebar-left .sidebar-wrapper li {
  list-style: none; }

.sidebar-left .sidebar-wrapper li i {
  margin-right: 9px; }

.sidebar-left .sidebar-wrapper li a {
  display: block;
  padding: 0 25px;
  color: #696969;
  font-size: 1.077rem;
  line-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer; }

.sidebar-left .sidebar-wrapper .parent > a::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right; }

.sidebar-left .sidebar-wrapper .parent > a.open::after {
  content: "\f106"; }

.sidebar-left .sidebar-wrapper .child {
  padding: 10px 0;
  background-color: #eee;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }

.sidebar-left .sidebar-wrapper .child li {
  padding-left: 10px; }

.sidebar-left .sidebar-wrapper .child li:hover {
  background-color: #e7e7e7; }

.sidebar-left .sidebar-wrapper .child li a:hover,
.sidebar-left .sidebar-wrapper a {
  text-decoration: none; }

.sidebar-left .sidebar-wrapper li a.activo {
  color: #007bff; }

.sidebar-left .sidebar-wrapper .divider {
  padding: 20px 20px 0;
  color: #7b7b7b;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8462rem; }

.sS {
  left: 0px !important; }

/**************************/
/***     Pagination    ***/
/************************/
.pagination .page-item.active .page-link {
  border-radius: 50%; }
.pagination .page-link {
  margin-right: 5px;
  background-color: transparent;
  border-color: transparent;
  color: #404040; }

/**************************/
/***     Scroll Top    ***/
/************************/
.scroll-top {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 14px;
  display: none;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  border-radius: 4px;
  z-index: 1071; }

.scroll-top::before {
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.538rem;
  display: inline-block;
  vertical-align: middle; }

/**************************/
/***       Modal       ***/
/************************/
.modal-content {
  color: #fff;
  border-color: transparent; }

.modal-content .modal-header {
  border: 0;
  padding: 19px; }

.modal-content .modal-body {
  padding: 10px 20px 20px; }

.modal-content .modal-footer {
  padding: 20px;
  border: none; }

.modal-warning .modal-body,
.modal-warning .modal-footer,
.modal-warning .modal-header {
  background-color: #f6c163; }

.modal-warning .btn-secondary {
  background: #ffffff;
  color: #f6c163;
  border-width: 2px;
  border-color: transparent;
  font-size: 1rem;
  font-weight: bold; }

.modal-warning .btn-secondary.aceptar {
  background: transparent;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5); }

.modal-warning .btn-secondary.aceptar:not(:disabled):not(.disabled).active, .btn-secondary.aceptar:not(:disabled):not(.disabled):active, .show > .btn-secondary.aceptar.dropdown-toggle {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.8); }

.modal-warning .close {
  color: #fff; }

.modal-warning .display-3 {
  font-weight: 900;
  margin-bottom: 1rem; }

.modal-warning .h3 {
  font-weight: 300; }

.modal-warning .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background: #ffffff; }

.effect .modal-content {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
          transform: rotateY(-70deg);
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0; }

.modal.show.effect .modal-content {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1; }

/**************************/
/***       Table       ***/
/************************/
.card-table .card-body {
  padding: 0; }

.card-table tr td:first-child, .card-table tr th:first-child {
  padding-left: 20px; }

.table thead {
  border-bottom: 2px solid #dee2e6; }

.table td, .table th {
  vertical-align: middle; }

.table th {
  border-top: 0; }

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #f5f5f5; }

.table tbody tr:nth-child(even) td:first-child {
  border-left: 2px solid #4285f4; }

/**************************/
/***     Responsive       ***/
/************************/
@media (min-width: 768px) {
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 74%;
            flex: 0 0 74%;
    max-width: 74%; }

  .col-md-3 {
    margin-left: 1%; } }
@media (min-width: 1024px) {
  .content .main-content {
    padding: 25px 50px; }

  .bToggle {
    display: none; }

  .navbar-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 230px; }
    .navbar-left .navbar-brand {
      display: block; }

  .navbar-right {
    width: calc(100% - 230px); }

  .sidebar-left {
    left: 0; }

  .content {
    margin-left: 230px; } }

/*# sourceMappingURL=custom-admin.css.map */