    <footer class="py-5">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-12 col-md-4">
            <p class="h1">Be For S.A.S.</p>
            <p>Kilómetro 4.7 Vía Chía-Cajicá,<br>Centro Empresarial Sabana Park<br>Torre 3, Oficina 506<br>Cajicá, Cundinamarca, Colombia</p>
          </div>
          <div class="col-12 col-md-4">
            <ul class="nav socialmedia">
              <li class="nav-item">
                <a class="nav-link" href="https://facebook.com/beforcol" target="_blank"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/befor_col/" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/BeforCol" target="_blank"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a href="https://www.linkedin.com/company/be-for-colombia" class="nav-link"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/custom.min.js"></script>
  </body>
</html>