<div class="loader center-vertical"><img src="/images/logo-loader.gif" width="85" alt="Logo loader"></div>

<div class="menuContainer">
  <div class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.webp" alt="" height="100" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarPrincipal"
          aria-controls="navbarPrincipal"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="navbar-toggler-icon"></span> -->
          <div href="#" class="menu mDesign"><span></span></div>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarPrincipal"
        >
          <div class="navbar-nav text-end">
            <a class="nav-link" href="nosotros">Nosotros</a>
            <a class="nav-link" href="servicios">Servicios</a>
            <a class="nav-link" href="contenidos">Contenidos</a>
            <a class="nav-link" href="contacto">Contacto</a>
          </div>
        </div>
      </nav>
    </header>
  </div>
</div>
